.chat {
    width: 600px;
    margin: 20px auto;
    border: 1px solid #ddd;
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.20);
}

.chat-header {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #dddddd;
}

.chat-body {
    width: 100%;
    height: 400px;
    border-bottom: 1px solid #dddddd;
    overflow: auto;
}

.chat-footer {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

img {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto auto;
}

.chat-footer input {
    padding: 5px;
    height: 20px;
}
